<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" />
  <package id="Accord.MachineLearning" version="3.8.0" manuallyInstalled="true" />
  <package id="Accord.Math" version="3.8.0" />
  <package id="Accord.Statistics" version="3.8.0" />
  <package id="CsvHelper" version="33.0.1" manuallyInstalled="true" />
  <package id="MathNet.Numerics" version="5.0.0" manuallyInstalled="true" />
  <package id="RoyT.AStar" version="3.0.2" manuallyInstalled="true" />
  <package id="YamlDotNet" version="16.2.1" manuallyInstalled="true" />
</packages>