<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="5.0.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="YamlDotNet" version="16.2.1" manuallyInstalled="true" />
  <package id="ZLinq" version="1.4.12" manuallyInstalled="true" />
</packages>